@import '~node_modules/modern-normalize/modern-normalize.css';
// Плавный скролл

html {
    scroll-behavior: smooth;
  }
  // Базовые стили

body {
    background-color:#F0F0F0;
    color:#000000;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
  }
  
  // Убирает лишние отступы у картинок снизу + добавляет отзывчивость
  
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  // Убирает подчеркивание у всех ссылок
  
  a {
    text-decoration: none;
  }
  
  // Обнуляет стиль списка (дубль в плейсхолдерах)
  
  li {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  // Скрывает элемент из потока (оставляет для экранных читалок)
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  
  .opacity {
    opacity: 0;
  }
  // Обнуляет отступы у текста и элементов списка
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  li {
    margin: 0;
    padding: 0;
  }