// Container

.container {
    display: block;
    margin: 0 auto;
    width: 320px;
    padding: 0 20px;
  
     
    @media screen and (min-width: 768px) {
      width: 768px;
      padding: 0 32px;
    }
  
      
    @media screen and (min-width: 1280px) {
      width: 1280px;
      padding: 0 32px;
    }
  }