<header class="header js-home-bgi">
  <div class="container">
    <div class="header-wrapper js-home-bgi">
      <div class="header-nav">
        <div class="search-wrapper">
          <!-- <form class="header__search-form js-show" action="GET">
            <div class="input-wrapper">
              <input class="header__input" type="text" name="query" placeholder="Movie search" />
              <button class="header__btn" type="submit" aria-label="search">
                <svg class="header__search-logo" width="16" height="16">
                  <use href="./images/icons/symbol-defs.svg#icon-search"></use>
                </svg>
              </button>
            </div>
          </form> -->
          <div class="header__links-wrapper js-hide">
            <a class="header__link-home" href="index.html">HOME</a>
            <a class="header__link-library header__link-library--current" href="library.html">MY LIBRARY</a>
          </div>

          <div class="header__user-links-wrapper">
            <button type="button" class="header__link-watched js-watched button—orange">WATCHED</button>
            <button type="button" class="header__link-queue js-queue button—orange">QUEUE</button>
          </div>
        </div>
      </div>

      <div class="logo-wrapper">
        <a href="index.html">
          <svg class="header__logo" width="59" height="59">
            <use href="./images/icons/symbol-defs.svg#icon-logo"></use>
          </svg>
        </a>
        <a class="header__link-filmoteka" href="index.html">Filmoteka</a>

      </div>
    </div>
  </div>
</header>