<div class="bg">
  <div class="container">
    <div class="slider-container">
      <h2 class="slider-title" data-key="soon-in-theaters">
        Soon in theaters
      </h2>
      <div class="slider"></div>
    </div>
    <div id="output"></div>
    <div class="gallery"></div>
    <div id="tui-pagination-container" class="tui-pagination"></div>
    <button type="button" class="btn-up" id="arrowTop" hidden>
      <img src="./images/arrow.png" alt="up" class="image-arrow" />
    </button>
  </div>
</div>