<!-- Модалки -->
<div id="modal" class="modal">
  <div class="modal__backdrop">
    <div class="modal__window">

      <!--Для редактирования-->
<button class="modal__button" data-modal-close>
  <svg width="30px" height="30px" class="modal__cross">
    <use href="/src/images/close.svg"></use>
  </svg>
</button>
<div class="image__descr">
  <img class="modal_image" src="/src/images/no_poster/no_poster.jpg" alt="#" />
</div>
<div class="image__descr"> 
  <h1 class="modal_title">A FISTFUL OF LEAD</h1>
  <ul class="properties_storage">
    <li class="modal_documentation documentation_text">
      <h2 class="properties">Vote / Votes</h2>
    </li>
    <li class="modal_documentation documentation_text">
      <h2 class="properties">Popularity</h2>
    </li>
    <li class="modal_documentation documentation_text">
      <h2 class="properties">Original Title</h2>
    </li>
    <li class="modal_documentation documentation_text">
      <h2 class="properties">Genre</h2>
    </li>
  </ul>
  <ul class="properties_storage">
    <li class="modal_documentation documentation_value">
      <span class="properties_value vote">7.3</span>
    </li>
    <li class="modal_documentation documentation_value">
      <span class="properties_value popularity">7.3</span>
    </li>
    <li class="modal_documentation documentation_value">
      <span class="properties_value original-title">7.3</span>
    </li>
    <li class="modal_documentation documentation_value">
      <span class="properties_value genre">7.3</span>
    </li>
  </ul>
  <h2 class="modal_about_title">About</h2>
  <p class="modal_description">
    Four of the West’s most infamous outlaws assemble to steal a huge stash of
    gold from the most corrupt settlement of the gold rush towns. But not all
    goes to plan one is killed and the other three escapes with bags of gold
    hide out in the abandoned gold mine where they happen across another gang
    of three – who themselves were planning to hit the very same bank! As
    tensions rise, things go from bad to worse as they realise the bags of
    gold are filled with lead... they’ve been double crossed – but by who and
    how?
  </p>
  <div class="modal_buttons">

    <!--Не редактировать-->
    <button type="button" name="watched" class="add-to-watched"> add to Watched </button>
    <button type="button" name="queue" class="add-to-queue">  add to queue </button>
  </div>
</div>
</div>

<!-- <div class="modal_film"> -->
  <!-- <div id="modal" class="modal">
  <button class="modal__button" data-modal-close>
    <svg width="30px" height="30px" class="modal__cross">
      <use href="./images/close.svg"></use>
    </svg>
  </button>
  <div class="image__descr">
    <img class="modal_image" src="./images/trailer-photo.jpg" alt="#" />
  </div>
  <div class="image__descr">
    <h1 class="modal_title">A FISTFUL OF LEAD</h1>
    <ul class="properties_storage">
      <li class="modal_documentation documentation_text">
        <h2 class="properties">Vote / Votes</h2>
      </li>
      <li class="modal_documentation documentation_text">
        <h2 class="properties">Popularity</h2>
      </li>
      <li class="modal_documentation documentation_text">
        <h2 class="properties">Original Title</h2>
      </li>
      <li class="modal_documentation documentation_text">
        <h2 class="properties">Genre</h2>
      </li>
    </ul>
    <ul class="properties_storage">
      <li class="modal_documentation documentation_value">
        <span class="properties_value">7.3</span>
      </li>
      <li class="modal_documentation documentation_value">
        <span class="properties_value">7.3</span>
      </li>
      <li class="modal_documentation documentation_value">
        <span class="properties_value">7.3</span>
      </li>
      <li class="modal_documentation documentation_value">
        <span class="properties_value">7.3</span>
      </li>
    </ul>
    <h2 class="modal_about_title">About</h2>
    <p class="modal_description">
      Four of the West’s most infamous outlaws assemble to steal a huge stash of
      gold from the most corrupt settlement of the gold rush towns. But not all
      goes to plan one is killed and the other three escapes with bags of gold
      hide out in the abandoned gold mine where they happen across another gang
      of three – who themselves were planning to hit the very same bank! As
      tensions rise, things go from bad to worse as they realise the bags of
      gold are filled with lead... they’ve been double crossed – but by who and
      how?
    </p>
    <div class="modal_buttons">
      <button class="modal_watched">add to Watched</button>
      <button class="modal_queue">add to queue</button>
    </div>
  </div>
</div> -->
<!-- </div> -->