.modal-container {
  @media screen and (min-width: 320px) {
    width: 280px;
    max-height: 95vh;
    overflow: auto;
  }
  @media screen and (min-width: 768px) {
    width: 618px;
    min-height: 562px;
  }
  @media screen and (min-width: 1200px) {
    width: 882px;
  }
}
.btn-close {
  @media screen and (min-width: 320px) {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background-color: $white-text-color;
    color: #000000;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    z-index: 9;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    &:hover {
      border: 2px solid #B92F2C;
      border-radius: 50%;
      background-color: #FFFFFF;
      color: $white-text-color;
      transform: translateY(-2px);
            box-shadow: 0 0 20px 2px #B92F2C;
    }
  }
}
.modal__button-icon {
  fill: #000000;
}
.modal-info {
  @media screen and (min-width: 320px) {
    width: 100%;
  }
  @media screen and (min-width: 768px) {
    margin-left: 30px;
  }
  @media screen and (min-width: 1200px) {
    width: 50%;
  }
}
.modal-info-title {
  @media screen and (min-width: 320px) {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    margin-top: 30px;
    margin-bottom: 20px;
    color: #000000;
  }
  @media screen and (min-width: 1200px) {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    color: #000000;
  }
}
.modal-about {
  @media screen and (min-width: 320px) {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #000000;
  }
}
.modal-info-about {
  @media screen and (min-width: 320px) {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
   
    color: #000000;
  }
}

.btn-up {
  position: fixed;
  bottom: 100px;
  right: 15px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: transparent;
  color: #B92F2C;
  border: 2px solid #B92F2C;
      cursor: pointer;

  &:hover {
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    box-shadow: 0 10px 20px #B92F2C;
  }
  &:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px #B92F2C;
  }
}
.button-add {
  @media screen and (min-width: 320px) {
    width: 112px;
    height: 44px;
    border: 2px solid #B92F2C;
    border-radius: 5px;
    margin-top: 21px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 16px;
    transition: all 0.2s;
    text-transform: uppercase;
    color: #000000;
    background-color: transparent;
        cursor: pointer;

  }
  @media screen and (min-width: 768px) {
    font-size: 10px;
    width: 125px;
    margin-right: 15px;
  }
  @media screen and (min-width: 1200px) {
    width: 136px;
  }
  &:hover {
    @media screen and (min-width: 320px) {
      transform: translateY(-3px);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
      box-shadow: 0 10px 20px #B92F2C;
      width: 115px;
      height: 44px;
      background: #FFFFFF;
      border: 1px solid #B92F2C;
      color: #B92F2C;
    }
    @media screen and (min-width: 768px) {
      width: 125px;
    }
    @media screen and (min-width: 1200px) {
      width: 136px;
    }
  }
  &::after {
    content: '';
    height: 100%;
    width: 100%;
    border-radius: 5px;
    top: 0;
    left: 0;
  }
  &:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
   
  }
  :active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px #B92F2C;
  }
}

.btn-animated {
  
  animation-fill-mode: backwards;
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.pressed {
  background-color: #B92F2C;
  
  border: none;
  color: $white-text-color;
  @media screen and (min-width: 320px) {
    font-size: 8px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 10px;
  }
}
.modal-card {
  position: relative;
  background-color: $white-text-color;
  padding: 48px 20px;
  @media screen and (min-width: 768px) {
    padding: 42px 30px;
    display: flex;
  }
  @media screen and (min-width: 1200px) {
    padding: 30px;
  }
}
table {
  table-layout: fixed;
  width: 100%;
}
th {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: start;
  color: #8C8C8C;
  padding-bottom: 10px;
}
td {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-content: flex-end;
  align-items: flex-end;
  color: #000000;
  padding-bottom: 10px;
}
.info-table-vote_average {
  display: flex;
  justify-content: center;
  width: 36px;
  height: 16px;
  
  margin-right: 3px;
  border-radius: 5px;
  background-color: $secondary-text-color;
  color: $white-text-color;
}
.info-table-vote_count {
  display: flex;
  justify-content: center;
  width: 36px;
  height: 16px;
  
  border-radius: 5px;
  background: #f7f7f7;
  color: #000000;
}
.info-table-original_title {
  text-transform: uppercase;
}
.modal-image {
  @media screen and (min-width: 320px) {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  @media screen and (min-width: 1200px) {
    width: 50%;
    background: #8C8C8C;
    
  }
}
.movie-poster {
  position: relative;
  width: 100%;
  height: auto;
}

.btn-open-trailer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  background-image: url(../images/btn-play.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 #8C8C8C inset, 0 0 10px 4px #FFFFFF;
  
  font-weight: bold;
  letter-spacing: 2px;
  color: #FFFFFF;
      cursor: pointer;

  transition: 0.15s ease-in-out;

  &:hover {
    box-shadow: 0 0 10px 0 #FFFFFF inset, 0 0 10px 10px #FFFFFF;
  }
}
.modal-btn-container {
  display: flex;
  justify-content: space-between;
  @media screen and (min-width: 1200px) {
    justify-content: start;
  }
}

