.theme-lang-switcher {
  display: flex;
}
.switcher-item {
  margin-right: 20px;
}
.lang {
  background-color: #545454;
  color: #f7f7f7;
  border: none;
  border-radius: 5px;
  outline: none;
  margin-left: 55px;
}
