.film__card {
    display: flex;
    flex-direction: column;

}

.film__thumb {
    border-radius: 5px;
    overflow: hidden;

    @media (max-width: 767.98px) {
        width: 280px;
        height: 402px;
    }

    @media screen and (min-width: 767.98px) {
        width: 336px;
        height: 455 px;
    }

    @media screen and (min-width: 1280px) {
        width: 395px;
        height: 574px;
    }
}

.film__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 250ms linear;

    @media screen and (min-width: 768px) {

        .film__card:hover &,
        .film__card:focus & {
            transform: scale(1.05);
        }
    }
}

.film__card:focus,
.film__card:hover {
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

.film__info {
    // padding-top: 10px;
    padding: 10px 8px 8px 8px;


    @media screen and (min-width: 767.98px) {
        padding-top: 8px;
    }

    @media screen and (min-width: 1280px) {
        padding-top: 12px;
    }
}

.film__name {
    color: #000000;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    /* 24/20 */
}

.film__description {
    color: #B92F2C;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    /* 24/20 */
}