.footer .footer_bg {
  background-color: #f7f7f7;
  padding-top: 28px;
  padding-bottom: 28px;
  text-align: center;
  min-width: 320px;

  @media screen and (min-width: 768px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 29px;
    padding-bottom: 29px;
  }
}

.copyright {
  display: block;
  margin-left: 41px;
  margin-bottom: 10px;

  @media screen and (min-width: 768px) {
    display: inline-block;
    margin: 0;
  }
}

.footer-span-js {
  margin-left: 22px;

  @media screen and (min-width: 768px) {
    margin: 0;
  }
}

.footer-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #545454;

  @media screen and (min-width: 768px) {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: inline-block;
  }
}

.footer-link:hover,
.footer:focus {
  color: blue;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.underline {
  text-decoration: underline;
}

.footer-svg {
  // margin-right: 10px;
  // margin-left: 10px;
  animation: heartbeat 1s infinite;
  @keyframes heartbeat {
    0% {
      transform: scale(0.8);
    }

    20% {
      transform: scale(0.9);
    }

    40% {
      transform: scale(0.8);
    }

    60% {
      transform: scale(0.9);
    }

    80% {
      transform: scale(0.8);
    }

    100% {
      transform: scale(1);
    }
  }

  &:hover,
  &:focus {
    animation-play-state: paused;
  }
}

.button_study {
  border: none;
  outline: none;
  background-color: #f7f7f7;
  padding: 0;
}
