.films {
    padding-top: 20px;
    padding-bottom: 40px;

    @media screen and (min-width: 767.98px) {
        padding-top: 32px;
        padding-bottom: 40px;
    }

    @media screen and (min-width: 1280px) {
        padding-top: 32px;
        padding-bottom: 60px;
    }
}

.films__container {
    list-style: none;
    display: grid;
    grid-template-columns: auto;
    gap: 20px;

    @media screen and (min-width: 767.98px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        // grid-template-rows: repeat(2, 1fr);
        gap: 32px;

    }

    @media screen and (min-width: 1280px) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        // grid-template-rows: repeat(3, 1fr);
        gap: 16px;
    }
}

.nothing img {
    display: flex;
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;

}