.header-wrapper {
  background-image: url(../images/header-red-background-mobile-min.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  @media screen and (min-width: 320px) and (max-width: 767px) {
    position: relative;
    min-height: 460px;
    @media screen and (min-device-pixel-retio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/header-red-background-mobile@2x-min.png);
    }
  }

  @media screen and (min-width: 768px) {
    min-height: 222px;
    background-image: url(../images/header-red-background-tablet-min.png);
    @media screen and (min-device-pixel-retio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/header-red-background-tablet@2x-min.png);
    }
  }

  @media screen and (min-width: 1280px) {
    min-height: 316px;
    background-image: url(../images/header-red-background-desktop-min.png);
    @media screen and (min-device-pixel-retio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/header-red-background-desktop@2x-min.png);
    }
  }
}

.header-nav {
  display: flex;
}

.search-wrapper {
  width: 100%;
  display: flex;
}

.input-wrapper {
  position: relative;
}

.header__input {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 38px 10px 16px;
  margin-left: 14px;
  margin-top: 56px;
  border-radius: 100px;
  border: 0;
  background-color: #fff;
  color: #000;

  @media screen and (min-width: 320px) {
    width: 252px;
    height: 34px;
  }
  @media screen and (min-width: 768px) {
    width: 165px;
    height: 38px;
    margin-left: 16px;
    margin-top: 16px;
    font-size: 14px;
    line-height: 1.14;
  }
  @media screen and (min-width: 1280px) {
    width: 187px;
    height: 42px;
    margin-left: 32px;
  }
}

.header__input::placeholder {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  padding-left: 14px;
  color: #000;
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.14;
    padding-left: 16px;
  }
}

.header__btn {
  display: block;
  position: absolute;
  top: 9px;
  right: 10px;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  @media screen and (min-width: 768px) {
    top: 10px;
    right: 12px;
  }
  @media screen and (min-width: 1280px) {
    top: 12px;
  }
}

.header__search-logo {
  fill: transparent;
  stroke: #000;
  width: 14px;
  height: 14px;
  @media screen and (min-width: 768px) {
    width: 16px;
    height: 16px;
  }
}

.header__links-wrapper {
  display: flex;
  @media screen and (min-width: 320px) and (max-width: 767px) {
    position: absolute;
  }
}

.header__link-home {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 26px;
  margin-left: 14px;
  margin-top: 14px;
  width: 87px;
  height: 34px;
  background-color: #fff;
  color: #000;
  border-radius: 100px;
  border: 0;
  text-decoration: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  @media screen and (min-width: 768px) {
    padding: 12px 24px;
    margin-left: 4px;
    margin-top: 16px;
    width: 83px;
    height: 38px;
  }
  @media screen and (min-width: 1280px) {
    padding: 14px 32px;
    margin-left: 8px;
    width: 99px;
    height: 42px;
  }
}

.header__link-home:hover,
.header__link-home:focus {
  background-color: #000;
  color: #fff;
}

.header__link-home--current {
  background-color: #000;
  color: #fff;
  // background-color: #fff;
  // color: #000;
  // outline: #000 solid 3px;
}

// .header__link-library {
//   font-family: 'Roboto';
//   font-style: normal;
//   font-weight: 500;
//   font-size: 12px;
//   line-height: 1.17;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   padding: 10px 19px;
//   margin-left: 4px;
//   margin-top: 14px;
//   width: 113px;
//   height: 34px;
//   background-color: #fff;
//   color: #000;
//   border-radius: 100px;
//   border: 0;
//   text-decoration: none;
//   box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
//   @media screen and (min-width: 768px) {
//     width: 109px;
//     height: 38px;
//     padding: 12px 17px;
//     margin-left: 4px;
//     margin-top: 16px;
//   }
//   @media screen and (min-width: 1280px) {
//     width: 117px;
//     height: 42px;
//     padding: 14px 21px;
//     margin-left: 8px;
//   }
// }

// .header__link-library:hover,
// .header__link-library:focus {
//   background-color: #000;
//   color: #fff;
// }

.logo-wrapper-home {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  @media screen and (min-width: 320px) {
    margin: 20px auto;
  }
  @media screen and (min-width: 768px) {
    margin-left: 16px;
    margin-bottom: 16px;
  }
  @media screen and (min-width: 1280px) {
    margin-left: 32px;
    margin-bottom: 32px;
  }
}

.header__logo {
  fill: transparent;
  stroke: #fff;
  width: 32px;
  height: 32px;
  @media screen and (min-width: 768px) {
    width: 40px;
    height: 40px;
  }
  @media screen and (min-width: 1280px) {
    width: 59px;
    height: 59px;
  }
}

.header__link-filmoteka {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 1.19;
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: 8px;
  text-decoration: none;
  color: #ffffff;
  @media screen and (min-width: 768px) {
    font-size: 40px;
    line-height: 1.18;
  }
  @media screen and (min-width: 1280px) {
    font-size: 64px;
    line-height: 1.17;
    margin-left: 16px;
  }
}
